@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-16px-regular: "Open Sans";
  --h4-32px-cormorant-upright: "Cormorant Upright";
  --font-sofia-sans: "Sofia Sans";

  /* font sizes */
  --body-16px-regular-size: 16px;
  --h2-64px-cormorant-upright-size: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --h4-32px-cormorant-upright-size: 32px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --h5-23px-cormorant-upright-size: 23px;
  --font-size-lg: 18px;
  --h3-45px-cormorant-upright-semi-size: 45px;
  --font-size-17xl: 36px;
  --font-size-8xl: 27px;
  --h1-90px-cormorant-upright-semi-size: 90px;
  --font-size-25xl: 44px;

  /* Colors */
  --fafafa: #fafafa;
  --c0c0c: #0c0c0c;
  --color-gray-100: #0c0b08;
  --aaaaaa: #aaa;
  --ffffff: #fff;
  --dcca87: #dcca87;
  --color-darkkhaki-100: #a89654;
  --color-darkkhaki-200: rgba(220, 202, 135, 0.2);
  --f5efdb: #f5efdb;

  /* Gaps */
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-5xs: 8px;
  --gap-60xl-5: 79.5px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-152xl: 171px;
  --gap-24xl: 43px;
  --gap-66xl: 85px;
  --gap-2xl: 21px;
  --gap-109xl: 128px;
  --gap-45xl: 64px;
  --gap-101xl: 120px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-29xl: 48px;
  --gap-92xl: 111px;
  --gap-36xl: 55px;
  --gap-9xl: 28px;
  --gap-77xl: 96px;
  --gap-3xs: 10px;
  --gap-3xs-5: 9.5px;
  --gap-30xl: 49px;
  --gap-161xl: 180px;
  --gap-71xl: 90px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-6xl: 25px;
  --padding-3xl: 22px;
  --padding-smi: 13px;
  --padding-43xl: 62px;
  --padding-21xl: 40px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-11xl: 30px;
  --padding-12xl: 31px;
  --padding-sm: 14px;
  --padding-lg: 18px;
  --padding-3xs: 10px;
  --padding-2xl: 21px;
  --padding-10xs: 3px;
  --padding-109xl: 128px;
  --padding-35xl: 54px;
  --padding-64xl: 83px;
  --padding-291xl: 310px;
  --padding-58xl: 77px;
  --padding-136xl: 155px;
  --padding-68xl: 87px;
  --padding-38xl: 57px;
  --padding-xs: 12px;
  --padding-62xl-5: 81.5px;
  --padding-15xl: 34px;
  --padding-34xl: 53px;
  --padding-mini-5: 14.5px;
  --padding-11xs-5: 1.5px;
  --padding-51xl: 70px;
  --padding-48xl: 67px;
  --padding-63xl: 82px;
  --padding-187xl: 206px;
  --padding-115xl: 134px;
  --padding-134xl: 153px;
  --padding-9xl: 28px;
  --padding-12xs: 1px;
  --padding-696xl: 715px;
  --padding-446xl: 465px;
  --padding-283xl: 302px;
  --padding-269xl: 288px;
  --padding-10xl: 29px;
  --padding-168xl: 187px;

  /* Effects */
  --dark-card-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
}
