.bgIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.aboutUs {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 2;
}
.knowMore,
.loremIpsumDolor {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 175%;
}
.loremIpsumDolor {
  align-self: stretch;
  z-index: 2;
}
.knowMore {
  font-size: var(--body-16px-regular-size);
  font-weight: 700;
  font-family: var(--h4-32px-cormorant-upright);
  color: var(--c0c0c);
  text-align: left;
  display: inline-block;
  min-width: 78px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-12xl);
  background-color: var(--dcca87);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.button1:hover,
.button:hover {
  background-color: var(--color-darkkhaki-100);
}
.loremIpsumDolorSitAmetCoParent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-13xl);
  font-size: var(--body-16px-regular-size);
  color: var(--aaaaaa);
  font-family: var(--body-16px-regular);
}
.aboutInner,
.aboutUsParent,
.loremIpsumDolorSitAmetCoParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.aboutUsParent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-30xl);
}
.aboutInner {
  width: 523px;
  align-items: flex-start;
  padding: var(--padding-187xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.gIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.vectorIcon,
.vectorIcon1 {
  width: 40px;
  position: relative;
  object-fit: contain;
}
.vectorIcon {
  align-self: stretch;
  max-height: 100%;
  display: none;
  min-height: 9px;
}
.vectorIcon1 {
  height: 9px;
}
.vectorParent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 2;
}
.vectorIcon2,
.vectorIcon3 {
  width: 40px;
  position: relative;
  object-fit: contain;
}
.vectorIcon2 {
  align-self: stretch;
  max-height: 100%;
  display: none;
  min-height: 9px;
}
.vectorIcon3 {
  height: 9px;
}
.vectorGroup {
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 2;
}
.frameWrapper,
.gParent,
.vectorGroup {
  display: flex;
  align-items: flex-start;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  margin-top: -9px;
}
.gParent {
  height: 415px;
  width: 391px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 207.5px);
  right: -154px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-134xl) var(--padding-9xl);
  box-sizing: border-box;
}
.savernakeKnivesF4jl2ezowumUIcon {
  height: 703px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  z-index: 2;
}
.frameParent {
  width: 84px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.ourHistory {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.adipiscingTempusUllamcorper {
  align-self: stretch;
  position: relative;
  font-size: var(--body-16px-regular-size);
  letter-spacing: 0.04em;
  line-height: 175%;
  font-family: var(--body-16px-regular);
  color: var(--aaaaaa);
  z-index: 2;
}
.ourHistoryParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-30xl);
  max-width: 100%;
}
.knowMore1 {
  position: relative;
  font-size: var(--body-16px-regular-size);
  letter-spacing: 0.04em;
  line-height: 175%;
  font-weight: 700;
  font-family: var(--h4-32px-cormorant-upright);
  color: var(--c0c0c);
  text-align: left;
  display: inline-block;
  min-width: 78px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-12xl);
  background-color: var(--dcca87);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.about,
.aboutChild,
.aboutWrapper,
.frameGroup {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.about,
.aboutChild,
.aboutWrapper {
  box-sizing: border-box;
}
.aboutChild {
  width: 523px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-187xl) 0 0;
  text-align: left;
}
.about,
.aboutWrapper {
  flex-direction: row;
}
.about {
  flex: 1;
  justify-content: space-between;
  padding: var(--padding-109xl) var(--padding-291xl);
  position: relative;
  gap: var(--gap-xl);
  z-index: 1;
}
.aboutWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-63xl);
  text-align: right;
  font-size: var(--h2-64px-cormorant-upright-size);
  color: var(--dcca87);
  font-family: var(--h4-32px-cormorant-upright);
}
@media screen and (max-width: 1800px) {
  .about {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  .about {
    padding: var(--padding-64xl) var(--padding-136xl);
    box-sizing: border-box;
  }
  .aboutWrapper {
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .aboutUs {
    font-size: var(--font-size-32xl);
    line-height: 67px;
  }
  .loremIpsumDolorSitAmetCoParent {
    gap: var(--gap-base);
  }
  .aboutUsParent {
    gap: var(--gap-5xl);
  }
  .aboutInner {
    padding-top: var(--padding-115xl);
    box-sizing: border-box;
  }
  .ourHistory {
    font-size: var(--font-size-32xl);
    line-height: 67px;
  }
  .ourHistoryParent {
    gap: var(--gap-5xl);
  }
  .frameGroup {
    gap: var(--gap-base);
  }
  .about,
  .aboutChild {
    box-sizing: border-box;
  }
  .aboutChild {
    padding-top: var(--padding-115xl);
  }
  .about {
    padding: var(--padding-35xl) var(--padding-58xl);
  }
  .aboutWrapper {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aboutUs,
  .ourHistory {
    font-size: var(--font-size-19xl);
    line-height: 50px;
  }
}
