.menuThatFits {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.menuThatFitsYouPalatteWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) 0 var(--padding-48xl);
}
.spoonIcon,
.vectorIcon {
  width: 40px;
  position: relative;
  object-fit: contain;
}
.vectorIcon {
  align-self: stretch;
  max-height: 100%;
  display: none;
  min-height: 9px;
}
.spoonIcon {
  height: 9px;
}
.spoon,
.spoonWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.spoon {
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 1;
}
.spoonWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.todaysSpecial {
  position: relative;
  font-size: var(--h2-64px-cormorant-upright-size);
  letter-spacing: 0.04em;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--dcca87);
  text-align: center;
  z-index: 1;
}
.frameGroup,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 407px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.wineBeer {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.wineBeerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.auBottle,
.chapelHillShiraz {
  position: relative;
  letter-spacing: 0.04em;
}
.chapelHillShiraz {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.auBottle {
  font-size: var(--body-16px-regular-size);
  line-height: 175%;
  font-family: var(--body-16px-regular);
  color: var(--aaaaaa);
  text-align: center;
  display: inline-block;
  min-width: 91px;
}
.chapelHillShirazParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 125px;
}
.cocktailItemChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--fafafa);
}
.cocktailItem {
  width: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.cocktailDivider {
  width: 37px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--ffffff);
  text-align: center;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
}
.arBottle,
.catenaMalbec {
  position: relative;
  letter-spacing: 0.04em;
}
.catenaMalbec {
  align-self: stretch;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 700;
}
.arBottle {
  font-size: var(--body-16px-regular-size);
  line-height: 175%;
  font-family: var(--body-16px-regular);
  color: var(--aaaaaa);
  text-align: center;
  display: inline-block;
  min-width: 89px;
}
.catenaMalbecParent,
.inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.catenaMalbecParent {
  align-self: stretch;
  gap: var(--gap-3xs-5);
}
.inner {
  flex: 1;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  min-width: 125px;
}
.frameChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--fafafa);
}
.child {
  width: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.secondCocktailDivider {
  width: 37px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--ffffff);
  text-align: center;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.div1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
}
.fr750,
.laVieilleRos {
  position: relative;
  letter-spacing: 0.04em;
}
.laVieilleRos {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.fr750 {
  font-size: var(--body-16px-regular-size);
  line-height: 175%;
  font-family: var(--body-16px-regular);
  color: var(--aaaaaa);
  text-align: center;
  display: inline-block;
  min-width: 93px;
}
.inner1,
.laVieilleRosParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.laVieilleRosParent {
  align-self: stretch;
  gap: var(--gap-3xs-5);
}
.inner1 {
  flex: 1;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  min-width: 125px;
}
.frameItem {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--fafafa);
}
.inner2 {
  width: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.b {
  width: 37px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--ffffff);
  text-align: center;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.div2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
}
.ca750,
.rhinoPaleAle {
  position: relative;
  letter-spacing: 0.04em;
}
.rhinoPaleAle {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.ca750 {
  font-size: var(--body-16px-regular-size);
  line-height: 175%;
  font-family: var(--body-16px-regular);
  color: var(--aaaaaa);
  text-align: center;
  display: inline-block;
  min-width: 95px;
}
.inner3,
.rhinoPaleAleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rhinoPaleAleParent {
  align-self: stretch;
  gap: var(--gap-3xs-5);
}
.inner3 {
  flex: 1;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  min-width: 125px;
}
.frameInner {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--fafafa);
}
.inner4 {
  width: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.b1 {
  width: 37px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--ffffff);
  text-align: center;
  display: inline-block;
  white-space: nowrap;
}
.div3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
}
.ie750,
.irishGuinness {
  position: relative;
  letter-spacing: 0.04em;
}
.irishGuinness {
  align-self: stretch;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 700;
}
.ie750 {
  font-size: var(--body-16px-regular-size);
  line-height: 175%;
  font-family: var(--body-16px-regular);
  color: var(--aaaaaa);
  text-align: center;
  display: inline-block;
  min-width: 88px;
}
.inner5,
.irishGuinnessParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.irishGuinnessParent {
  align-self: stretch;
  gap: var(--gap-3xs-5);
}
.inner5 {
  flex: 1;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  min-width: 125px;
}
.rectangleDiv {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--fafafa);
}
.inner6 {
  width: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.b2 {
  width: 37px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--ffffff);
  text-align: center;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.div4,
.frameDiv,
.menu {
  display: flex;
  align-items: flex-start;
}
.div4 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-13xl);
}
.frameDiv,
.menu {
  flex-direction: column;
  justify-content: flex-start;
}
.menu {
  align-self: stretch;
  gap: var(--gap-21xl);
  z-index: 1;
  text-align: left;
  font-size: var(--h5-23px-cormorant-upright-size);
  color: var(--dcca87);
}
.frameDiv {
  width: 412px;
  flex-shrink: 0;
  gap: var(--gap-29xl);
}
.cocktails {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 1;
}
.cocktailsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.aperolSpritz {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  min-width: 102px;
}
.frameChild1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--fafafa);
}
.rectangleWrapper {
  width: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.wineDivider {
  width: 37px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--ffffff);
  text-align: center;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.aperolSpritzParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.aperolVilla {
  position: relative;
  font-size: var(--body-16px-regular-size);
  letter-spacing: 0.04em;
  line-height: 175%;
  font-family: var(--body-16px-regular);
  color: var(--aaaaaa);
  display: inline-block;
  max-width: 100%;
}
.div5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.darkNStormy {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 125px;
}
.frameChild2 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--fafafa);
}
.darkNStormyParent,
.rectangleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleContainer {
  width: 119px;
  flex-direction: column;
  padding: var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.darkNStormyParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl);
}
.darkRum {
  width: 312px;
  position: relative;
  font-size: var(--body-16px-regular-size);
  letter-spacing: 0.04em;
  line-height: 175%;
  font-family: var(--body-16px-regular);
  color: var(--aaaaaa);
  text-align: center;
  display: inline-block;
}
.frameParent2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 223px;
  max-width: 100%;
}
.b3 {
  width: 37px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--ffffff);
  text-align: center;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.div6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.daiquiri1 {
  margin: 0;
}
.daiquiri {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 700;
}
.daiquiriWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  min-width: 125px;
}
.frameChild3 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--fafafa);
}
.rectangleFrame {
  width: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.b4 {
  width: 37px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--ffffff);
  text-align: center;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.frameParent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.rumCitrus {
  position: relative;
  font-size: var(--body-16px-regular-size);
  letter-spacing: 0.04em;
  line-height: 175%;
  font-family: var(--body-16px-regular);
  color: var(--aaaaaa);
  text-align: center;
}
.div7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.oldFashioned {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  min-width: 111px;
}
.frameChild4 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--fafafa);
}
.oldFashionedParent,
.rectangleWrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleWrapper1 {
  width: 119px;
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.oldFashionedParent {
  width: 343px;
  flex-direction: row;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.bourbonBrown {
  position: relative;
  font-size: var(--body-16px-regular-size);
  letter-spacing: 0.04em;
  line-height: 175%;
  font-family: var(--body-16px-regular);
  color: var(--aaaaaa);
  text-align: center;
}
.frameParent4,
.inner7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent4 {
  align-self: stretch;
  gap: var(--gap-3xs-5);
}
.inner7 {
  flex: 1;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  min-width: 228px;
}
.b5 {
  width: 37px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--ffffff);
  text-align: center;
  display: inline-block;
  white-space: nowrap;
}
.div8,
.negroni {
  align-self: stretch;
}
.div8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.negroni {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 700;
}
.negroniWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  min-width: 125px;
}
.frameChild5 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--fafafa);
}
.rectangleWrapper2 {
  width: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.b6 {
  width: 37px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--ffffff);
  text-align: center;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.frameParent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.ginSweet {
  position: relative;
  font-size: var(--body-16px-regular-size);
  letter-spacing: 0.04em;
  line-height: 175%;
  font-family: var(--body-16px-regular);
  color: var(--aaaaaa);
  text-align: center;
}
.div9,
.menu1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.div9 {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.menu1 {
  gap: var(--gap-21xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--h5-23px-cormorant-upright-size);
  color: var(--dcca87);
}
.frameContainer,
.frameParent1,
.menu1 {
  display: flex;
  align-items: flex-start;
}
.frameParent1 {
  width: 412px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.frameContainer {
  width: 1300px;
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--h3-45px-cormorant-upright-semi-size);
}
.viewMore {
  position: relative;
  font-size: var(--body-16px-regular-size);
  letter-spacing: 0.04em;
  line-height: 175%;
  font-weight: 700;
  font-family: var(--h4-32px-cormorant-upright);
  color: var(--c0c0c);
  text-align: left;
  display: inline-block;
  min-width: 73px;
}
.button,
.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-12xl);
  background-color: var(--dcca87);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.button:hover {
  background-color: var(--color-darkkhaki-100);
}
.buttonWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frameParent,
.restaurantHomeInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1300px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-77xl);
}
.restaurantHomeInner {
  width: 1810px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-62xl-5);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h5-23px-cormorant-upright-size);
  color: var(--ffffff);
  font-family: var(--h4-32px-cormorant-upright);
}
@media screen and (max-width: 1350px) {
  .restaurantHomeInner {
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .todaysSpecial {
    font-size: var(--font-size-32xl);
    line-height: 67px;
  }
  .cocktails,
  .wineBeer {
    font-size: var(--font-size-17xl);
    line-height: 47px;
  }
  .frameParent {
    gap: var(--gap-29xl);
  }
  .restaurantHomeInner {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .menuThatFits {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .menuThatFitsYouPalatteWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .todaysSpecial {
    font-size: var(--font-size-19xl);
    line-height: 50px;
  }
  .wineBeer {
    font-size: var(--font-size-8xl);
    line-height: 35px;
  }
  .b,
  .b1,
  .b2,
  .catenaMalbec,
  .chapelHillShiraz,
  .cocktailDivider,
  .irishGuinness,
  .laVieilleRos,
  .rhinoPaleAle,
  .secondCocktailDivider {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .cocktails {
    font-size: var(--font-size-8xl);
    line-height: 35px;
  }
  .aperolSpritz,
  .darkNStormy,
  .wineDivider {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .darkNStormyParent {
    flex-wrap: wrap;
  }
  .b3,
  .b4,
  .daiquiri,
  .oldFashioned {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .oldFashionedParent {
    flex-wrap: wrap;
  }
  .b5,
  .b6,
  .negroni {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .frameParent {
    gap: var(--gap-5xl);
  }
}
