.bgIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.awardsRecognition {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.vectorIcon,
.vectorIcon1 {
  width: 40px;
  position: relative;
  object-fit: contain;
}
.vectorIcon {
  align-self: stretch;
  max-height: 100%;
  display: none;
  min-height: 9px;
}
.vectorIcon1 {
  height: 9px;
}
.spoon {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.ourLaurels {
  position: relative;
  font-size: var(--h2-64px-cormorant-upright-size);
  letter-spacing: 0.03em;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--dcca87);
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.top {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl);
  color: var(--dcca87);
}
.awards1,
.bottom,
.top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.bottom {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl);
}
.awards1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-45xl);
  min-width: 412px;
  max-width: 100%;
}
.awardsChild {
  width: 555px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.awards {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-92xl);
}
.awards,
.chefsWord,
.chefsWord1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.chefsWord1 {
  width: 1300px;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.chefsWord {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-109xl) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  text-align: left;
  font-size: var(--h5-23px-cormorant-upright-size);
  color: var(--ffffff);
  font-family: var(--h4-32px-cormorant-upright);
}
@media screen and (max-width: 1350px) {
  .awardsChild {
    flex: 1;
  }
  .awards {
    flex-wrap: wrap;
  }
  .chefsWord {
    padding-top: var(--padding-64xl);
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .ourLaurels {
    font-size: var(--font-size-32xl);
    line-height: 67px;
  }
  .bottom,
  .top {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
  .awards1 {
    gap: var(--gap-13xl);
    min-width: 100%;
  }
  .awards {
    gap: var(--gap-36xl);
  }
  .chefsWord1 {
    gap: var(--gap-29xl);
  }
  .chefsWord {
    padding-top: var(--padding-35xl);
    padding-bottom: var(--padding-35xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .awardsRecognition {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .ourLaurels {
    font-size: var(--font-size-19xl);
    line-height: 50px;
  }
  .awards1 {
    gap: var(--gap-base);
  }
  .awards {
    gap: var(--gap-9xl);
  }
  .chefsWord1 {
    gap: var(--gap-5xl);
  }
}
